body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

.form {
  margin: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
